<% layout("/layout/boilerplate.ejs") -%>
<!DOCTYPE html>
<html lang="en">
  <body>
    <div class="row">
      <div class="col col-6 offset-3">
        <h1>Create a new Listing</h1>
        <form
          action="/listings"
          method="post"
          novalidate
          class="needs-validation"
          enctype="multipart/form-data"
        >
          <div class="mb-3">
            <label for="title" class="form-label"><b>Title</b></label>
            <input
              type="text"
              name="title"
              class="form-control"
              placeholder="Enter the name of villa"
              required
            />
            <div class="invalid-feedback">Title Required</div>
          </div>
          <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea
              name="description"
              class="form-control"
              placeholder="Enter a description about villa"
              required
            ></textarea>
            <div class="invalid-feedback">Add a brief description</div>
          </div>
          <div class="mb-3">
            <label for="image" class="form-label">Image</label>
            <input
              type="file"
              name="image"
              required
              class="form-control"
              required
            />
            <div class="invalid-feedback">Invalid URL</div>
          </div>

          <div class="mb-3">
            <label for="price" class="form-label">Price</label>
            <input
              type="number"
              placeholder="Price"
              name="price"
              class="form-control"
              required
            />
            <div class="invalid-feedback">Invalid Price</div>
          </div>
          <div class="mb-3">
            <label for="location" class="form-label">Location</label>
            <input
              type="text"
              placeholder="Enter location"
              name="location"
              class="form-control"
              required
            />
            <div class="invalid-feedback">Invalid Location</div>
          </div>
          <div class="mb-3">
            <label for="country" class="form-label">Country</label>
            <input
              type="text"
              placeholder="Enter country"
              name="country"
              class="form-control"
              required
            />
            <div class="invalid-feedback">Invalid country</div>
          </div>
          <button class="btn btn-dark mb-3">Submit</button>
        </form>
      </div>
    </div>
  </body>
</html>
